.messageAction{
background:#BAF765;
background:linear-gradient(#BAF765,#A7E059) repeat scroll 0 0 transparent;
border-radius:0 0 5px 5px;
box-shadow:0 2px 5px #487C00;
display:none;
padding:5px 10px;
position:fixed;
text-shadow:1px 1px 0 #D6F3AE;
top:0;
width:100%;
z-index:999;
text-align:center;
font-size: 28px;
}
.messageAction h3{color:#282828;display:inline-block}
.messageAction img{margin:0 10px 0px 0}
.messageErrors{
background:#F98D81;
background:linear-gradient(#F98D81,#F75F4F) repeat scroll 0 0 transparent;
border-radius:0 0 5px 5px;
box-shadow:0 2px 5px #282828;
display:none;
padding:5px 10px;
position:fixed;
text-shadow:1px 1px 0 #282828;
top:0;
width:100%;
z-index:999;
text-align:center;
font-size: 28px;
}
.messageErrors h3{color:#FCFCFC;display:inline-block}
.messageErrors img{margin:0 10px 0px 0}