.lead18 {
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 5px;
}
.lead16 {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 0px;
}
.lead14 {
    font-size: 14px;
    font-weight: 50;
    line-height: 20px;
    margin-bottom: 0px;
}
.lead12 {
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 0px;
}
.td_money {
    text-align: right !important;
}
.i_btn {
    cursor: pointer;
}
.table_select tbody tr:hover>td {
    cursor: pointer;
    background-color: #d9edf7;
}
td.success
{
    font-size: 13px;
    color:green;
}
td.current
{
    font-size: 13px;
    color:#D3C523;

}
td.warning
{
    font-size: 13px;
    color:#DD1144;
}
td.info
{
    font-size: 13px;
    color:#0088CC;
}
tr.error > td {
    background-color: #F2DEDE;
}
tr.blocking
{
    display:none;
}
.requireField
{
    background:#FDD752 !important;

}
.readonlyField
{
    background:#f2dede !important;

}