﻿label.lblshow
{
	color:#FF2F25; font-family: Tahoma,sans-serif; font-size:90px;font-weight: bold;
}
label.lblRed
{
	color:#FF2F25; font-family: Tahoma,sans-serif; font-weight: bold;
}
label.disText
{
	color:#747474;font-family:Tahoma,sans-serif;
}
label.disTextShow
{
	color:#747474;font-family:Tahoma,sans-serif;font-size:12px;
}
label.undisText
{
	color:blue;font-family:Tahoma,sans-serif;
}

legend.legendText
{
	color:#15428B; font-family:Tahoma,sans-serif; font-size:13px;font-weight: bold;
}
legend.legendText16
{
	color:#15428B; font-family:Tahoma,sans-serif; font-size:14px;font-weight: bold;
}

td.txt14b { 
	color:#469EFF; font-family: Tahoma,sans-serif; font-size:14px; 
}
td.menuW16{
	color:#FF9933; font-family: Tahoma,sans-serif; font-size:16px;font-weight: bold
}
td.submenubbLL {
	 font-family: Tahoma,sans-serif; BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubbCC {
	 font-family: Tahoma,sans-serif; BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubbRR{
	 font-family: Tahoma,sans-serif;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue; 
}
td.submenubbLL1 {
	 font-family: Tahoma,sans-serif;font-size:13px;BORDER-LEFT: 1px solid blue;
}
td.submenubbCC1 {
	 font-family: Tahoma,sans-serif;font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubbRR1{
	 font-family: Tahoma,sans-serif;font-size:13px;BORDER-RIGHT: 1px solid blue; 
}
td.submenubbLL11 {
	 font-family: Tahoma,sans-serif;font-size:11px;BORDER-LEFT: 1px solid blue;
}
td.submenubbCC11 {
	 font-family: Tahoma,sans-serif;font-size:11px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubbRR11{
	 font-family: Tahoma,sans-serif;font-size:11px;BORDER-RIGHT: 1px solid blue; 
}
td.submenubbRR12{
	 font-family: Tahoma,sans-serif;font-size:11px;BORDER-RIGHT: 1px solid blue; 
}
 textarea.textbox
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;}
 textarea.textbox2
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FDFFCD;BORDER: 1px solid #7B9EBD;}
textarea.blue
{ background:#ECFFFF;BORDER: 1px solid #7B9EBD;color:#0000FF;}
textarea.txta
{ color:#0000FF; font-family: Tahoma,sans-serif; font-size:12px;background:#FFE2C6;BORDER: 1px solid #EC7600;}
textarea.txta
{ color:#FF0000; font-family: Tahoma,sans-serif; font-size:12px;background:#CCFFCC;BORDER: 1px solid #007AF4;}
textarea.autotxt
{border: 0px #000000 solid;
background: #FFFFCC;
font-family:Tahoma,sans-serif; font-size:10px;
color: #007AF4;}
textarea.autotxt2
{border: 0px #000000 solid;
background: #FAF1FF;
font-family:Tahoma,sans-serif; font-size:10px;
color: #007AF4;}
td.orange
{ color:#FF9900; font-family: Tahoma,sans-serif; font-size:13px; font-weight: bold;}
td.oranget
{ color:#FF9900; font-family: Tahoma,sans-serif; font-size:14px; font-weight: bold;}
td.txtblacktoptop
{ color:#0000A0; font-family: Tahoma,sans-serif; font-size:18px; }
td.txtblacktop
{ color:#0000A0; font-family: Tahoma,sans-serif; font-size:16px; }
td.txtblack
{ color:#0000FD; font-family: Tahoma,sans-serif; font-size:14px; }
td.txt
{ color:#6600CC; font-family: Tahoma,sans-serif; font-size:13px; }
td.txt2
{ color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold; }
td.txtn
{ color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;}
td.showred {
	color:red; font-family: Tahoma,sans-serif; font-size:200px;
}
td.showblue {
	color:blue; font-family: Tahoma,sans-serif; font-size:30px;
}
td.submenuon {
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;
}
td.submenuongray {
	color:#CCCCCC; font-family: Tahoma,sans-serif; font-size:11px;font-weight: bold;
}
td.menuhome {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:16px;font-weight: bold;
}
td.menushow {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold;
}
td.submenuhome {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;
}
td.submenuhomeb {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold;
}
td.submenuons {
	color:#CC99FF; font-family: Tahoma,sans-serif; font-size:11px;
}
td.submenuonb {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;
}
td.submenuonbc {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;text-align: center;
}
td.submenuonb12 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;
}
td.submenuonb11 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;
}
td.submenuonb10 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:10px;
}
td.submenuonb12L {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb12C {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb12R {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenuonb11L {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb11C {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb11R {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenuonb10L {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:10px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb10C {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:10px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonb10R {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:10px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenuonbb {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:14px;
}
td.submenuonbp12 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenuonbp11 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.menubp14 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER: 1px solid blue;background:#CCFFCC;text-align: center;font-weight: bold
}
td.menubbLn {
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbCn {
	color:#007AF4; font-family:Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#CCFFCC; text-align: center;font-weight: bold
}
td.menubbRn{
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbL {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbC {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#CCFFCC; text-align: center;font-weight: bold
}
td.menubbR{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbL13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbC13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#CCFFCC; text-align: center;font-weight: bold
}
td.menubbR13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CCFFCC;font-weight: bold
}
td.menubbCbn {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:14px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#CCFFCC; text-align: center;font-weight: bold
}
td.menubpL {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}
td.menubpC {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFCCFF; text-align: center;font-weight: bold
}
td.menubpR{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}
td.menubpL10 {
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}
td.menubpC10{
color:#007AF4; font-family:Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFCCFF; text-align: center;font-weight: bold
}
td.menubpR10{
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}
td.submenubpL10 {
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubpC14{
color:#007AF4; font-family:Tahoma; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubpC10{
color:#007AF4; font-family:Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubpR10{
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue; 
}
td.submenubpL {
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubpC{
color:#007AF4; font-family:Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubpR{
color:#007AF4; font-family: Tahoma; font-size:12px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue; 
}
td.menubpL13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}
td.menubpC13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFCCFF; text-align: center;font-weight: bold
}
td.menubpC13bn {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFCCFF; text-align: center;font-weight: bold
}
td.menubpR13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCCFF;font-weight: bold
}

td.menubpLPing13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCBF2;font-weight: bold
}
td.menubpCPing13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFCBF2; text-align: center;font-weight: bold
}
td.menubpRPing13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFCBF2;font-weight: bold
}
td.submenubpRPing13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFDF2;
}
td.submenubpLPing13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFDF2;
}
td.submenubpCPing13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFDF2;
}
td.submenubpRPing213{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#F9FFF2;
}
td.submenubpLPing213 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FFF2;
}
td.submenubpCPing213 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FFF2;
}
td.menubpLGreen13B {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#F6CBFF;font-weight: bold
}
td.menubpCGreen13B {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#F6CBFF; text-align: center;font-weight: bold
}
td.menubpRGreen13B{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#F6CBFF;font-weight: bold
}
td.menubpRGreen11B{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#F6CBFF;font-weight: bold
}
td.submenubpR3Green13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;
}
td.submenubpL3Green13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;
}
td.submenubpC3Green13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;
}
td.submenubpR3Green131{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold
}
td.submenubpL3Green131 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold
}
td.submenubpC3Green131 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold
}
td.submenubpRGreen13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#EAFFEA;
}
td.submenubpLGreen13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#EAFFEA;
}
td.submenubpCGreen13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#EAFFEA;
}
td.submenubpR2Green13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#EAFFEA;
}
td.submenubpL2Green13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#EAFFEA;
}
td.submenubpC2Green13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#EAFFEA;
}
td.submenubpR2Green13N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#F5FFFA;
}
td.submenubpL2Green13N {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-LEFT: 1px solid blue;background:#F5FFFA;
}
td.submenubpC2Green13N {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F5FFFA;
}
td.submenubpRGreen13N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#F5FFFA;
}
td.submenubpN2Green13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;background:#F5FFFA;
}
td.submenubpNGreen13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;background:#F5FFFA;
}

td.menubpLYellow13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFFF99;font-weight: bold
}
td.menubpCYellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFFF99; text-align: center;font-weight: bold
}
td.menubpRYellow13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#FFFF99;font-weight: bold
}
td.menubpLYellow13B {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px; BORDER: 1px solid blue; text-align: center;background:#CBF0FF;font-weight: bold
}
td.menubpCYellow13B {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px; BORDER: 1px solid blue; background:#CBF0FF; text-align: center;font-weight: bold
}
td.menubpRYellow13B{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px; BORDER: 1px solid blue; text-align: center;background:#CBF0FF;font-weight: bold
}
td.menubpLYellow13BB {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CBF0FF;font-weight: bold
}
td.menubpCYellow13BB {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#CBF0FF; text-align: center;font-weight: bold
}
td.menubpRYellow13BB{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CBF0FF;font-weight: bold
}
td.menubpRYellow11B{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#CBF0FF;font-weight: bold
}
td.submenubpR13NBG{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;
}
td.submenubpL13NBG {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;
}
td.submenubpC13NBG {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;
}
td.submenubpR11NBG{
font-family: Tahoma,sans-serif; font-size:11px;BORDER: 1px solid blue;
}
td.submenubpL11NBG {
font-family: Tahoma,sans-serif; font-size:11px;BORDER: 1px solid blue;
}
td.submenubpC11NBG {
 font-family:Tahoma,sans-serif; font-size:11px;BORDER: 1px solid blue;
}

td.submenubpR3Yellow13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;
}
td.submenubpR3Yellow13R{
color:#FF005F; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold;
}
td.submenubpL3Yellow13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;
}
td.submenubpL3Yellow16 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;
}
td.submenubpC3Yellow16 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFFCC;
}

td.submenubpR316 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-TOP: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenubpL316 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;
}
td.submenubpC316 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenubpR313 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-TOP: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenubpL313 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;
}
td.submenubpC313 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;
}

td.submenubpR3Yellow16 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:16px;BORDER-BOTTOM: 1px solid blue;BORDER-TOP: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFFCC;
}

td.submenubpL3Yellow13R {
color:#FF005F; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold;
}
td.submenubpC3Yellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;
}
td.submenubpC3Yellow13R {
color:#FF005F; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FBE5FF;font-weight: bold;
}
td.submenubpR3Yellow131{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;font-weight: bold
}
td.submenubpR3Yellow131Red{
color:#FF0C00; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;font-weight: bold
}
td.submenubpR3Yellow131Green{
color:#0BD23D; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;font-weight: bold
}
td.submenubpL3Yellow131 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;font-weight: bold
}
td.submenubpC3Yellow131 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#E6F8FF;font-weight: bold
}
td.submenubpR3Blue132{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#F9FDFF;
}
td.submenubpR3Blue132Red{
color:#FF0C00; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#F9FDFF;
}
td.submenubpR3Blue132Green{
color:#0BD23D; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#F9FDFF;
}
td.submenubpL3Blue132 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FDFF;
}
td.submenubpC3Blue132 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FDFF;
}
td.submenubpC3Yellow131R {
color:#FF005F; font-family:Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFF0CC;font-weight: bold
}
td.submenubpR3Yellow131R{
color:#FF005F; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFFFCC;font-weight: bold
}
td.submenubpL3Yellow131R {
color:#FF005F; font-family: Tahoma,sans-serif; font-size:11px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFFFCC;font-weight: bold
}
td.submenubpRYellow13g{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-RIGHT: 1px solid #F8F8FF;background:#FFFFCC;
}
td.submenubpLYellow13g {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-LEFT: 1px solid #F8F8FF;background:#FFFFCC;
}
td.submenubpCYellow13g {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-RIGHT: 1px solid #F8F8FF;BORDER-LEFT: 1px solid #F8F8FF;background:#FFFFCC;
}
td.submenubpRBlue13g{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-RIGHT: 1px solid #F8F8FF;background:#F9FDFF;
}
td.submenubpLBlue13g {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-LEFT: 1px solid #F8F8FF;background:#F9FDFF;
}
td.submenubpCBlue13g {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid #F8F8FF;BORDER-RIGHT: 1px solid #F8F8FF;BORDER-LEFT: 1px solid #F8F8FF;background:#F9FDFF;
}
td.submenubpRYellow13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFFCC;
}
td.submenubpLYellow13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFFCC;
}
td.submenubpCYellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFFCC;
}
td.submenubpR2Yellow13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFEEE;
}
td.submenubpL2Yellow13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFEEE;
}
td.submenubpC2Yellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFEEE;
}
td.submenubpR2Yellow13N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#FFFEEE;
}
td.submenubpL2Yellow13N {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-LEFT: 1px solid blue;background:#FFFEEE;
}
td.submenubpC2Yellow13N {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFEEE;
}
td.submenubpRYellow13N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#FFFFCC;
}
td.submenubpN2Yellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;background:#FFFEEE;
}
td.submenubpNYellow13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;background:#FFFEEE;
}
td.submenubpRYellow213{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FAF1FF;
}
td.submenubpLYellow213 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FAF1FF;
}
td.submenubpCYellow213 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FAF1FF;
}

td.submenubpR213N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#FFE6FA;
}
td.submenubpL213N {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-LEFT: 1px solid blue;background:#FFE6FA;
}
td.submenubpC213N {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFE6FA;
}
td.submenubpR13N{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-RIGHT: 1px solid blue;background:#FFE6FA;
}
td.menubpLViolet13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#F6CBFF;font-weight: bold
}
td.menubpCViolet13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#F6CBFF; text-align: center;font-weight: bold
}
td.menubpRViolet13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue; text-align: center;background:#F6CBFF;font-weight: bold
}
td.submenubpRViolet13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#FFFEF1;
}
td.submenubpLViolet13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFEF1;
}
td.submenubpCViolet13 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#FFFEF1;
}
td.submenubpRViolet213{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;background:#F9FFF2;
}
td.submenubpLViolet213 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FFF2;
}
td.submenubpCViolet213 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;background:#F9FFF2;
}

td.submenubbL {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;
}
td.submenubbC {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.menubbC1 {
color:#007AF4; font-family:Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;background:#FFF9FC;
}
td.submenubbC1 {
color:#FF6699; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubbC14 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubbC14C {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
text-align:center;font-weight: bold;}

td.submenubbL14 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubbR14 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;BORDER-BOTTOM: 1px solid blue;BORDER-right: 1px solid blue; 
}
td.submenubbR{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenubbC13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubbL13 {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue; 
}
td.submenubbR13{
color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;
}
td.submenubbCon {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:11px;
}
td.menuon14 {
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold;
}
td.menuon {
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:13px;font-weight: bold;
}
td.menuonb {
	color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold;
}
td.menumain {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right	   ;color:#FFFFFF; font-family: Tahoma,sans-serif; font-size:13px;font-weight: bold;
}
td.menutop {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right   ;color:#FFFFFF; font-family: Tahoma,sans-serif; font-size:10px;
}
 td.pw {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right   ;color:#EA7500; font-family: Tahoma,sans-serif; font-size:13px;
}
td.menupwc {
	VERTICAL-ALIGN: middle;color:#007AF4; font-family: Tahoma,sans-serif; font-size:14px;font-weight: bold;
}
td.theadL
{font-size:13px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;font-weight: bold;}
td.theadC
{font-size:13px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;BORDER-TOP: 1px solid blue;font-weight: bold;}
td.theadR
{font-size:13px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-TOP: 1px solid blue;font-weight: bold;}
 td.subtheadL
{font-size:12px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-LEFT: 1px solid blue;}
td.subtheadC
{font-size:12px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;BORDER-LEFT: 1px solid blue;}
td.subtheadR
{font-size:12px;color:#FF0099;BORDER-BOTTOM: 1px solid blue;BORDER-RIGHT: 1px solid blue;}

  input.textbox25
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:14px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;font-weight: bold;}
 input.chkblue
{ color:#0000FF; font-family: Tahoma,sans-serif ;font-size:12px; }
 input.textbox
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;}
 input.textboxNeed
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FDFFCD;BORDER: 1px solid #7B9EBD;}
 input.textboxAuto
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFF6F2;BORDER: 1px solid #7B9EBD;}
 input.textboxNeedb
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FDFFCD;BORDER: 1px solid #7B9EBD;font-weight: bold;}
 input.textboxAutob
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFF6F2;BORDER: 1px solid #7B9EBD;font-weight: bold;}
 input.txtNSP
{ 
	color:#FFFFFF; font-family:Tahoma,sans-serif ;font-size:14px; background:#75DB30;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:0px; border-left-width: 0 px;text-align: center;font-weight: bold;width:200px;
}
 input.txtSP
{ 
	color:#FFFFFF; font-family:Tahoma,sans-serif ;font-size:14px; background:#FF0005;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:0px; border-left-width: 0 px;text-align: center;font-weight: bold;width:200px;
}
 input.txtNSIP
{ 
	color:#FFFFFF; font-family:Tahoma,sans-serif ;font-size:14px; background:#75DB30;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:0px solid #7B9EBD; border-left-width: 0 px;text-align: center;font-weight: bold;width:150px;
}
 input.txtSIP
{ 
	color:#FFFFFF; font-family:Tahoma,sans-serif ;font-size:14px; background:#FF0005;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:0px; border-left-width: 0 px;text-align: center;font-weight: bold;width:150px;
}
input.textboxno
{ 
	color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px;background:#FFFFFF;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:1px solid #7B9EBD; border-left-width: 0 px;text-align: center;
}
input.textboxno1
{ 
	color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px;background:#FFFAE4;border-top-width: 0 px; border-right-width: 0 px; border-bottom-width:1px solid #7B9EBD; border-left-width: 0 px;text-align: center;
}
 input.textboxr
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;text-align: right;font-weight: bold;}
input.textboxrY
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFFFCC;BORDER: 1px solid #7B9EBD;text-align: right;font-weight: bold;}
 input.textboxc
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;text-align: center;font-weight: bold;}
 input.textboxcY
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFFFCC;BORDER: 1px solid #7B9EBD;text-align: center;font-weight: bold;}
 input.textboxb
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;font-weight: bold;}
 input.textboxbY
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFFFCC;BORDER: 1px solid #7B9EBD;font-weight: bold;}
 input.textbox1
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:18px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;}
 input.noborder
{ color:#FF9900; font-family:Tahoma,sans-serif ;font-size:14px; background:#FFFFFF;BORDER: 0px solid #7B9EBD;text-align:right;}
 input.texts
{ color:#FF9900; font-family:Tahoma,sans-serif ;font-size:12px; background:#FFF3E8;BORDER: 1px solid #7B9EBD;}
 input.type
{ color:#FF9900; font-family:Tahoma,sans-serif ;font-size:16px; background:#FFF3E8;BORDER: 0px solid #7B9EBD;}
 input.textbox11
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;}
 input.textboxtuc
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;width:300;}
 input.textboxtuc480
{ color:#0000FF; font-family:Tahoma,sans-serif ;font-size:12px; background:#ECFFFF;BORDER: 1px solid #7B9EBD;width:480;}
input.buttonpb
 {background:#FFBFDF;color:#0000FF;BORDER-RIGHT: 1px solid #FF0099; BORDER-TOP: 1px solid #FF0099; BORDER-LEFT: 1px solid #FF0099; BORDER-BOTTOM: 1px solid #FF0099; text-align: center;}
input.btnconfirm
 {background:#DDEEFF;color:#0000FF;BORDER: 1px solid #0000FF; text-align: center;font-size:14px;}
input.pw
{ color:#007AF4; font-family: Tahoma,sans-serif; font-size:12px;background:#CCFFCC;BORDER: 1px solid #007AF4;font-weight: bold; width:150;}
input.qty
{ color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;background:#FFFFFF;BORDER: 1px solid #FFFFFF;width:40;TEXT-ALIGN: center}
input.btnpw
{ color:#EA7500; font-family: Tahoma,sans-serif; font-size:12px;text-align:center;background:#FFE2C6;BORDER: 1px solid #EC7600;font-weight: bold;}
input.btn60
{ color:#0033FF; font-family: Tahoma,sans-serif; font-size:13px;text-align:center;background:#ECFFFF;BORDER: 1px solid #EC7600;font-weight: bold;width:60}
input.btnn
{ color:#0033FF; font-family: Tahoma,sans-serif; font-size:13px;text-align:center;background:#BFFFFF;BORDER: 1px solid #7B9EBD;font-weight: bold;height:18}
input.btnn25
{ color:#0033FF; font-family: Tahoma,sans-serif; font-size:13px;text-align:center;background:#BFFFFF;BORDER: 1px solid #7B9EBD;font-weight: bold;height:21}
input.btnnO
{ color:#336600; font-family: Tahoma,sans-serif; font-size:13px;text-align:center;background:#99FF99;BORDER: 1px solid #7B9EBD;font-weight: bold;width:60;height:20}
input.btnnO80
{ color:#336600; font-family: Tahoma,sans-serif; font-size:13px;text-align:center;background:#99FF99;BORDER: 1px solid #7B9EBD;font-weight: bold;width:80;height:20}
input.noborder2 {
color:#0000FF; font-family:sans-serif, Tahoma;font-size:14px;BORDER: 0px ;text-align:center;
}
 input.btnadd
{ color:#007AF4; font-family:Tahoma,sans-serif; font-size:12px;text-align:center;background:#CCFFCC;BORDER: 1px solid #007AF4;font-weight: bold;}
 input.txt
{ color:#FF0000; font-family:Tahoma,sans-serif; font-size:12px;background:#CCFFCC;BORDER: 1px solid #007AF4;}
div.showuser
{ color:#6600FF; font-family:Tahoma,sans-serif; font-size:14px;font-weight: bold;}
Select.blueb14
{ color:#6600FF; font-family: Tahoma,sans-serif; font-size:14px;  background:#ECFFFF; BORDER: 1px solid #7B9EBD; font-weight: bold;}
Select.blueb
{ color:#6600FF; font-family: Tahoma,sans-serif; font-size:12px;  background:#ECFFFF; BORDER: 1px solid #7B9EBD; font-weight: bold;}
Select.blue
{ color:#6600FF; font-family: Tahoma,sans-serif; font-size:12px;  background:#ECFFFF; BORDER: 1px solid #7B9EBD; }
Select.blueY
{ color:#6600FF; font-family: Tahoma,sans-serif; font-size:12px;  background:#FFFFCC; BORDER: 1px solid #7B9EBD; }
Select.addb
{ color:red; font-family: Tahoma,sans-serif; font-size:12px;  background:#CCFFCC; BORDER: 1px solid #7B9EBD; }
 Select.orange
{ color:#0000FF; font-family: Tahoma,sans-serif; font-size:12px;  background:#FFE2C6;; BORDER: 1px solid #7B9EBD; }

table.menubb {
color:#007AF4; font-family: Tahoma,sans-serif; font-size:12px;BORDER: 1px solid blue;
}


.table_calendar{
		font-family:Tahoma,sans-serif;
		font-size:15px;
		line-height:14px;
		border-style:solid;
		border-collapse:collapse;
		border-width:1px;
		border-color:#499BEE;
		background-color:#EEEEEE;
		table-layout:fixed;
}
.td_day{
		font-family:Tahoma,sans-serif;
		font-size:14px;
		line-height:14px;
		border-style:solid;
		border-collapse:collapse;
		border-width:1px;
		width:15px;
		text-align:center;
}
.td_sub{
		font-family:Tahoma,sans-serif;
		font-size:14px;
		line-height:14px;
		border-style:solid;
		border-collapse:collapse;
		border-width:1px;
		width:15px;
		text-align:right;
}
a.mail
{COLOR: #FFFFCC; background:None; FONT-FAMILY: Tahoma; font-weight: bold;  FONT-SIZE: 9pt; TEXT-DECORATION: none;}
a.mail:hover 
{COLOR: #FFCC33; background:None; FONT-FAMILY: Tahoma; font-weight: bold;  FONT-SIZE: 9pt; TEXT-DECORATION: none;}
td.submenuhome16 {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:16px;
}
td.submenuhome {
	color:#0000FF; font-family: Tahoma,sans-serif; font-size:14px;
}
.hidden
{
	display:none;
}