
	<script src="js/library/jquery/jquery-1.9.1"></script>
	<script src="js/library/jquery/jquery-ui-1.10.3.custom.js"></script>
<script>UserLogin="003418";
									$.ajax({
										type: "POST",
										dataType: "text",
										data: {
											ContYear: "2014",
											CustomerNo: "13003",
											UpdBy: UserLogin,
											PreContractName: "PGO-SPB",
											CustPersonName: ""
										},
									    url: "AJAX/IS_getPEContract.php",
									    success: function(json) {
									    	if (json != ", ErrMsg" && json != "") {
										    	//$("#inp_contractpe").val(json);
												//saveSalesForecast("new");
												alert(json);
									    	} else {
									    		alert("เกิดปัญหาในการ Generate PEContract กรุณาลองใหม่");
									    		//$("#loading").hide();
									    	}
										},
										error: function() {
											alert("เกิดปัญหาในการค้นหากรุณาลองใหม่อีกครั้ง");
											//$("#loading").hide();
										}
									});
</script>