@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/League_Gothic-webfont.eot?') format('eot'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype');
}

section.demo .demo-box {
    display: block;
    /*height: 80px;*/
    padding: 70px 2px 0px;
    position: relative;
    width: 100%;
}