.timeline-wrap { position: relative; width: 100%; height: 3px; background: #333; }
.timeline-event {
	position: absolute;
	left: 0; 
	top: 0;
}
.timeline-event-node {
	position: absolute; 
	top: -3px; 
	left: 0px;
	border-radius: 8px; 
	width: 9px; 
	height: 9px; 
	background: #E5412D;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.timeline-event-contents {
	display: none;
	margin-left: -20px;
}
.timeline-event.timeline-selected .timeline-event-node, .timeline-event.timeline-selected .timeline-event-node:hover { 
	width: 14px; 
	height: 14px; 
	margin-left: -3px; 
	margin-top: -3px; 
	background: #222;
}
.timeline-event-node:hover { 
	width: 13px; 
	height: 13px; 
	margin-left: -2px; 
	margin-top: -2px; 
}
.timeline-event-node-current {
	position: absolute; 
	top: -3px; 
	left: 0px;
	border-radius: 8px; 
	width: 9px; 
	height: 9px; 
	background: Yellow;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.timeline-event.timeline-selected .timeline-event-node-current, .timeline-event.timeline-selected .timeline-event-node-current:hover { 
	width: 14px; 
	height: 14px; 
	margin-left: -3px; 
	margin-top: -3px; 
	background: #222;
}
.timeline-event-node-current:hover { 
	width: 13px; 
	height: 13px; 
	margin-left: -2px; 
	margin-top: -2px; 
}
.timeline-event-contents {
	overflow-x: visible !important;
	overflow-y: visible !important;
	position: absolute;
	padding: 12px;
	left: 0;
	top: 30px;
	background: #222;
	font: normal 12px/18px 'Lucida Grande', helvetica, tahoma, sans-serif;
	color: #efefef;
}
.timeline-event.timeline-bottom .timeline-event-arrow {
	position: absolute;
	display: none;
	content: "";
	left: 0px;
	top: 24px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #222;
}
.timeline-event.timeline-above .timeline-event-contents { 
	top: -80px;
}
.timeline-event.timeline-above .timeline-event-arrow {
	top: auto;
	bottom: 32px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #222;
	border-bottom: none;
}
.timeline-event-contents .timeline-event-content, .timeline-event-contents .timeline-event-link {
	display: none;
}
/*.timeline-event.timeline-selected .timeline-event-content, .timeline-event.timeline-selected .timeline-event-link {
	display: block;
}*/
.timeline-event-title {
	white-space: nowrap;
	font-weight: bold;
}
.timeline-event-title span {
	color: #777;
	display: inline-block;
	margin-right: 10px;
	font-size: 10px;
	font-weight: normal;
}
.timeline-event-link {
	display: block;
	text-align: right;
}
.timeline-event-link a {
	color: #777;
	text-decoration: none;
	font-size: 10px;
}
.timeline-event-link a:visited {
	color: #777;
	text-decoration: none;
}
.timeline-event-link a:hover {
	color: #777;
	text-decoration: underline;
}
.timeline-large-scale, .timeline-small-scale {
	position: absolute;
	left: 0;
	top: -30px;
	font: bold 10px/18px 'Lucida Grande', helvetica, tahoma, sans-serif;
	color: #222;
}
.timeline-dateblock {
	width: 100px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -50px;
	white-space: nowrap;
}
.timeline-dateblock:before {
	display: block;
	content: "";
	position: absolute;
	left: 50px;
	top: 20px;
	width: 1px;
	height: 10px;
	background: #222;
}
.timeline-small-scale .timeline-dateblock:before {
	top: 25px;
	height: 4px;
	background: #777;
}
.timeline-small-scale {
	color: #0072C6;
	top: -30px;
}
.timeline-event-content img { float: left; margin: 0 10px 10px 0; width: 100px; }
.timeline-event-content { margin: 20px 0 10px; }